# Visual Studio 
.vs/
bin/
obj/
*.user
*.db


# Docker
Dockerfile
docker-compose.yml
.docker/
.dockerignore

# .NET
*.vspscc
*.vssscc
.vscode/
.idea/

#Sensitive Files
.env

#Sensitive Directories
EntLibBackendAPI\FirebaseFile\
EntLibBackendAPI\UrlFile\